# 依赖
node_modules/

# 构建产物
dist/
release/
release-build/
*.tsbuildinfo

# Electron 调试残留
debug-*.png
debug-*.txt
debug-*.json
debug-*.out.txt
debug-*.ts
debug.log
test-resume.docx
test-output.json
test-*.cjs
verify-*.cjs

# Vite
.vite/
.vite-cache/

# 系统
.DS_Store
Thumbs.db

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境
.env
.env.local
.env.*.local

# 临时
*.tmp
*.bak

# 推送工具产物
.push-chunks/
.push-payload.json
